@import 'styles/variables.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1512 * 10);

  @media (max-width: $tablet) {
    font-size: calc(100vw / 744 * 10);
  }

  @media (max-width: $mobile) {
    font-size: calc(100vw / 320 * 10);
  }

  body {
    background-color: $base-color-white;
    color: $base-color-black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;

    &.overflow-hidden {
      overflow: hidden;
    }

    header,
    main,
    footer {
      width: 100%;
    }

    header {
      z-index: 1;
    }

    main {
      z-index: 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;

      canvas {
        width: 100vw;
        height: 100dvh;
      }
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
      width: 3px;
      position: absolute;
    }

    &::-webkit-scrollbar-track {
      background: $base-color-white;
    }

    &::-webkit-scrollbar-thumb {
      background: $base-color;
      border: none;
      cursor: pointer;
    }
  }
}

.wave-mask-rect {
  transition: transform 1.5s ease-in-out;
  transform: translateY(100%);
}

.wave-mask-rect.active {
  transform: translateY(0%);
}

.textShadow {
  text-shadow: .1rem .1rem .2rem black;
}

.block_shadow {
  box-shadow:
    inset 0px 0px 5px rgb(255 255 255 / 50%),
    0px 0px 5px rgb(76 71 28);
}